@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-family: "Montserrat", sans-serif;
  min-height: 865.55px;
  max-width: 1920px;
  width: 100%;
}
.header__container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .header__container {
    background-color: white;
    width: 100%;
    padding: 0 40px;
  }
}
.header__container .header__cards {
  display: flex;
  max-width: 1920px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 980px) {
  .header__container .header__cards {
    width: 100%;
    padding: 0 40px;
    justify-content: center;
  }
}
.header__container .card__w-img {
  margin-top: 60px;
  max-width: 580px;
  min-height: 650px;
  position: relative;
  margin-left: 20px;
}
.header__container .card__w-img .card__gold-part {
  position: absolute;
  top: 484px;
  background: rgba(209, 169, 84, 0.9);
  max-width: 580px;
  width: 100%;
  min-height: 166px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__container .card__w-img .card__gold-part .card__slogan {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.header__container .card__w-img .card__gold-part .card__card-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #FFFFFF;
}
.header__container .signs {
  margin: 60px auto;
}
@media (max-width: 980px) {
  .header__container .signs {
    display: none;
  }
}
.header__navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}
@media (max-width: 980px) {
  .header__navigation {
    max-width: 980px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 20px;
  }
}
.header__nav {
  max-width: 774px;
  width: 100%;
}
.header__nav .header__nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media (max-width: 980px) {
  .header__nav .header__nav-list {
    display: none;
  }
}
.header__nav .header__nav-list .header__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.header__nav .header__nav-list .header__link:hover {
  color: #D1A954;
  font-weight: 700;
}
.header__nav .header__nav-list .header__link-gold-border {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #D1A954;
  text-decoration: none;
  border: 1px solid rgba(209, 169, 84, 0.9);
  padding: 7px 9px 6px 9px;
}
.header .cards {
  max-width: 1920px;
}

.main {
  font-family: "Montserrat", sans-serif;
  min-height: 1178px;
  max-width: 1920px;
  width: 100%;
  background: linear-gradient(white, #E5E5E5, white, white);
}
.main__container {
  max-width: 1015px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .main__container {
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    background-color: white;
  }
}
.main__container .main__about {
  max-width: 297px;
  min-height: 117px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}
.main__container .main__about .main__logo {
  text-align: center;
  margin-bottom: 10px;
}
.main__container .main__about .main__logo-description {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 46px;
}
.main__container .main__about .main__title {
  text-align: center;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #222222;
}
.main__container .main__image-video {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.main__container .main__image-video .main__common-descr {
  max-width: 1015px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
@media (max-width: 360px) {
  .main__container .main__image-video .main__common-descr {
    width: 100%;
    padding: 0 30px;
  }
}
.main__container .main__image-video .main__common-descr .main__description-left {
  max-width: 980px;
}
@media (max-width: 360px) {
  .main__container .main__image-video .main__common-descr .main__description-left {
    width: 100%;
    margin-right: 100px;
  }
}
.main__container .main__image-video .main__common-descr .main__description-left-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 438px;
}
.main__container .main__image-video .main__common-descr .main__description-left-logo .main__big-logo {
  max-width: 203px;
  min-height: 110px;
  margin: 0 auto;
}
.main__container .main__image-video .main__common-descr .main__description-left-logo .main__big-logo-text {
  max-width: 350px;
  min-height: 205px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
  text-align: left;
  margin-top: 33px;
}
.main__container .main__image-video .main__common-descr .main__wrapper-description-top {
  max-width: 556px;
}
.main__container .main__image-video .main__common-descr .main__description-right {
  width: 100%;
  display: flex;
}
.main__container .main__image-video .main__common-descr .main__description-right .main__description-colomn {
  max-width: 255px;
  margin: 0 30px 39px 0;
}
@media (max-width: 360px) {
  .main__container .main__image-video .main__common-descr .main__description-right .main__description-colomn {
    width: 100%;
    margin-right: 100px;
  }
}
.main__container .main__image-video .main__common-descr .main__description-right .main__description-colomn .main__description-colomn-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.main__container .main__image-video .main__common-descr .main__description-right .main__description-colomn .main__description-colomn-wrapper .main__description-colomn-picture {
  margin-right: 20px;
}
.main__container .main__image-video .main__common-descr .main__wrapper-description-bottom {
  display: flex;
}
.main__container .main__image-video .main__common-descr .main__wrapper-description-bottom .main__description-colomn-picture {
  margin-right: 29px;
}
.main__container .main__image-video .main__common-descr .main__wrapper-description-bottom .main__descr-colomn {
  max-width: 255px;
  min-height: 167px;
  margin: 0 30px 39px 0;
}
.main__container .main__image-video .main__common-descr .main__wrapper-description-bottom .main__descr-colomn .main__description-colomn-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.main__container .main__image-video .main__common-descr .main__wrapper-description-bottom .main__descr-colomn .main__description-colomn-wrapper .main__description-colomn-picture {
  margin-right: 29px;
}
.main .main__colomn-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  align-items: end;
  max-width: 17px;
  padding-top: 10px;
}
.main .main__colomn-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
  text-align: left;
}
.main .main__gallery-wrapper {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
}
.main .main__gallery-wrapper .main__gallery-picture-main {
  margin-right: 30px;
}
@media (max-width: 980px) {
  .main .main__gallery-wrapper .main__gallery-picture-main {
    margin-right: 35px;
  }
}
.main .main__gallery-wrapper .main__gallery-wrapper-logo {
  max-width: 113px;
  min-height: 101px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 101px;
  margin-left: 72px;
}
@media (max-width: 980px) {
  .main .main__gallery-wrapper .main__gallery-wrapper-logo {
    margin-left: 20px;
    margin-right: 10px;
  }
}
.main .main__gallery-wrapper .main__gallery-wrapper-logo .main__gallery-wrapper-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 10px;
}
.main .main__gallery-wrapper .main__gallery-wrapper-logo .main__gallery-wrapper-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 135%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 25px;
}
.main .main__gallery-wrapper .main__gallery-wrapper-logo .main__gallery-wrapper-picture {
  max-width: 46px;
}
.main .main__gallery-wrapper-bottom {
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
}
.main .main__gallery-wrapper-bottom .main__gallery-table {
  margin-top: 30px;
  margin-right: 30px;
}
.main .main__gallery-wrapper-bottom .main__gallery-table :hover {
  transform: scale(1.1);
  transition: transform 0.35s;
}
@media (max-width: 980px) {
  .main .main__gallery-wrapper-bottom .main__gallery-table .main__gallery-big-box {
    max-width: 490px;
  }
}
@media (max-width: 980px) {
  .main .main__gallery-wrapper-bottom .main__gallery-table {
    max-width: 980px;
    width: 50%;
    margin: 10px 30px;
  }
}
.main .main__gallery-wrapper-people-snack {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
@media (max-width: 980px) {
  .main .main__gallery-wrapper-people-snack {
    width: 40%;
    align-items: center;
    margin: 10px;
  }
}
.main .main__gallery-wrapper-people-snack .main__gallery-small-box {
  max-width: 445px;
  margin-bottom: 30px;
}
@media (max-width: 980px) {
  .main .main__gallery-wrapper-people-snack .main__gallery-small-box {
    margin-right: 10px;
  }
}
.main .main__gallery-wrapper-people-snack .main__gallery-small-box-bottom {
  max-width: 445px;
}

.main__knowmore {
  max-width: 1920px;
  width: 100%;
  background-image: url(../../images/main/know\ more.png);
  min-height: 409px;
}
@media (max-width: 980px) {
  .main__knowmore {
    min-height: 200px;
    width: 100%;
  }
}
.main__knowmore .main__knowmore-text {
  text-align: center;
  margin-top: 150px;
  padding-top: 120px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main__knowmore .main__btn-together {
  margin-top: 70px;
}
.main__knowmore .main__btn-together .main__btn-left {
  display: inline-block;
  margin-left: 627px;
  margin-right: 90px;
  max-width: 255px;
  width: 100%;
  min-height: 64px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 980px) {
  .main__knowmore .main__btn-together .main__btn-left {
    width: 100%;
    margin-left: 40px;
  }
}
.main__knowmore .main__btn-together .main__btn-right {
  display: inline-block;
  max-width: 320px;
  width: 100%;
  min-height: 64px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.main__container-paragraph-form {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
}
.main__container-paragraph-form .main__container-form {
  max-width: 273px;
}
.main__container-paragraph-form .main__container-paragraph-text {
  width: 50%;
}
@media (max-width: 980px) {
  .main__container-paragraph-form .main__container-paragraph-text {
    width: 100%;
  }
}
.main__container-paragraph-form .main__container-paragraph-text .main__wrapper-text {
  max-width: 529px;
  margin-top: 120px;
  margin-left: 405px;
}
@media (max-width: 980px) {
  .main__container-paragraph-form .main__container-paragraph-text .main__wrapper-text {
    max-width: 300px;
    margin-top: 60px;
    margin-left: 45px;
  }
}
.main__container-paragraph-form .main__container-paragraph-text .main__wrapper-coordinates {
  max-width: 529px;
  margin-left: 405px;
}
@media (max-width: 980px) {
  .main__container-paragraph-form .main__container-paragraph-text .main__wrapper-coordinates {
    max-width: 300px;
    margin-top: 60px;
    margin-left: 45px;
  }
}
.main__container-paragraph-form .main__container-paragraph-text .main__wrapper-coordinates .main__wr-all {
  display: flex;
}
.main__container-paragraph-form .main__container-paragraph-text .main__wrapper-coordinates .main__colomn-title {
  margin-bottom: 20px;
  margin-top: 60px;
}
.main__container-paragraph-form .main__container-paragraph-text .main__wrapper-coordinates .main__wrapper-coordinates-icons {
  margin-right: 20px;
}
.main__container-paragraph-form .main__container-paragraph-text .main__wrapper-coordinates .main__wrapper-coordinates-icons .main__wrapper-icons {
  display: flex;
  max-width: 273px;
  align-items: center;
  min-height: 70px;
}
.main__container-paragraph-form .main__container-paragraph-text .main__wrapper-coordinates .main__wrapper-coordinates-icons .main__wrapper-icons .main__coordinates-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #000000;
}
.main__container-paragraph-form .main__container-paragraph-text .main__wrapper-coordinates .main__wrapper-coordinates-icons .main__wrapper-icons .main__coordinates-item-underline {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  text-decoration-line: underline;
  color: #000000;
}
.main__container-paragraph-form .main__container-paragraph-text .main__wrapper-coordinates .main__wrapper-coordinates-icons .main__wrapper-icons .main__icons {
  margin-right: 30px;
}
.main__container-paragraph-form .main__container-paragraph-text .main__title {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}
.main__container-paragraph-form .main__container-paragraph-text .main__text-small {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
}

.main__wr-form {
  width: 50%;
}
@media (max-width: 980px) {
  .main__wr-form {
    width: 40%;
    margin-top: 60px;
    margin-left: 15px;
  }
}
.main__wr-form .main__container-form {
  max-width: 529px;
  margin-top: 134px;
  width: 100%;
  min-height: 368px;
}
.main__wr-form .main__container-form .button {
  background-color: #D1A954;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 12px 35px 11px 36px;
  border: none;
  cursor: pointer;
  margin-top: 70px;
}
.main__wr-form .main__container-form .form__wr-name {
  margin-bottom: 35px;
  border: none;
  border-bottom: 0.5px solid #D0D0D0;
}
.main__wr-form .main__container-form .form__wr-email {
  margin-bottom: 48px;
  border-bottom: 0.5px solid #D0D0D0;
}
.main__wr-form .main__container-form .form__line {
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
}
.main__wr-form .main__container-form .form__wr-message {
  margin-bottom: 35px;
}
.main__wr-form .main__container-form .form__wr-message .form__message {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
  padding: 9px 430px 162px 20px;
  border: none;
  border: 0.5px solid #D0D0D0;
}

.main__instagram {
  margin: 0 auto;
  max-width: 364px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__instagram .main__title {
  margin-top: 242px;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #222222;
}
.main__instagram .main__gallery-wrapper-text {
  margin: 10px 0 43px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}

.main__instaphotos {
  display: flex;
  max-width: 1920px;
  width: 100%;
  min-height: 304px;
}

.footer {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  min-height: 92px;
  max-width: 1920px;
  width: 100%;
  display: flex;
}
.footer .footer__copyright {
  display: flex;
  max-width: 1920px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 980px) {
  .footer .footer__copyright {
    max-width: 980px;
    width: 100%;
    justify-content: space-around;
  }
}
.footer .footer__copyright .footer__copyright-left {
  max-width: 391px;
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #000000;
  margin-left: 405px;
}
@media (max-width: 980px) {
  .footer .footer__copyright .footer__copyright-left {
    width: 100%;
    margin-left: 20px;
  }
}
.footer .footer__copyright .footer__copyright-right {
  max-width: 261px;
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  text-align: right;
  color: #000000;
  margin-right: 405px;
}
@media (max-width: 980px) {
  .footer .footer__copyright .footer__copyright-right {
    width: 100%;
    margin-right: 40px;
  }
}/*# sourceMappingURL=Glstyle.css.map */